/* 상태바 항목 */
.grayscale {
	filter: grayscale(100%);
}

.status-bar-icon {
	width: 20px;
	height: 20px;
}

/* 설정탭 컨테이너 */
.setting-container {
	display: grid;
	grid-template-rows: 1fr auto;
}

.setting {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.control {
	display: grid;
	grid-template-columns: 1fr auto;
}

.name, .desc {
	width: fit-content;
}

/* 설정탭 텍스트, 콘텐츠 */
.current-value {
	color: var(--text-muted);
	font-size: 0.8rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.warning {
	color: var(--text-warning);
	font-weight: bold;
}

.current-value:before {
	content: '✅ ';
}

/* awesomplete 스타일 덮어쓰기 */
.awesomplete {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.awesomplete mark {
	background: inherit;
	color: inherit;
	font-weight: normal;
	text-decoration: none;
}

.awesomplete [role="status"] {
	display: none;
}

.awesomplete ul {
	position: absolute;
	max-height: 300px;
	overflow-y: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
	box-shadow: var(--shadow-elevation-low);
	z-index: 10;
}

.awesomplete li {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	list-style: none;
	font-family: var(--font-family-editor);
	color: var(--text-normal);
	border-radius: 5px;
}

.awesomplete li:hover,
.awesomplete li[aria-selected="true"] {
	background-color: var(--background-modifier-hover);
}