#root {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 260px minmax(520px, auto) 260px;
  grid-template-areas:
    "sidebar main infobar"
}

.loading-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(161, 161, 161, 0.93);
  font-size: 40px;
  user-select: none;
  color: inherit;
}